<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello,vue.js</title>
  <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
  <div id="app">
    <h2>Bitcoin Price</h2>
    <!-- hasErrorあるならv-ifを指定した要素が表示、ないならv-elseのある要素を指定。if,elseは要素の
    v-ifなどでつける！ -->
    <section v-if="hasError">Error</section>
    <section v-else>
      <div v-if="loading">
        Loading...
      </div>
      <div v-else>
        <!-- v-cloakはチラつき防止 -->
        <ul v-cloak>
          <li v-for="(rate,currency) in bpi">
             {{currency}} : {{rate.rate_float | currencyDecimal}}
          </li>
        </ul>        
      </div>
    </section>
    
  



   <!-- デバック用 -->
   <!-- <pre>{{$data}}</pre> -->

  <!-- コンポーネントを出力する場合 -->
  <!-- <hello-component></hello-component> -->
  </div>

  <!-- vie.jsのCDNを先に読み込む。URLは公式ページから -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <!-- jsDelivr CDNでaxiosを導入。main.jsより先に読み込む -->
  <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>